<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <title>欢迎登录</title>
    <link href="../css/login.css" type="text/css" rel="stylesheet" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<form action="/JavaWebDemo/login" method="post">
    <input name="userName" type="text" placeholder="请输入用户名"/>
    <input name="password" type="password" placeholder="请输入密码"/>
    <input type="submit" value="提交" />
</form>
</body>
</html>